@page "/configuracion"

  <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="Configuracion/usuarios" Match="NavLinkMatch.All">
                <span class="oi oi-layers" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="Configuracion/Abogado" Match="NavLinkMatch.All">
                <span class="oi oi-layers" aria-hidden="true"></span> Abogado
            </NavLink>
        </div>

          <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="Configuracion/tipos_casos" Match="NavLinkMatch.All">
                <span class="oi oi-layers" aria-hidden="true"></span> Tipos Casos
            </NavLink>
        </div>

           <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="Configuracion/EstadoCaso" Match="NavLinkMatch.All">
                <span class="oi oi-layers" aria-hidden="true"></span> Estado del Caso
            </NavLink>
        </div>
       
       